{
    "extends": "stylelint-config-standard",
    "customSyntax": "postcss-styled-syntax",
    "rules": {
        "comment-empty-line-before": "never",
        "no-empty-source": null,
        "alpha-value-notation": null,
        "color-function-notation": null,
        "at-rule-no-unknown": [
            true,
            {
                "ignoreAtRules": ["use"]
            }
        ],
        "declaration-block-no-redundant-longhand-properties": null,
        "selector-pseudo-class-no-unknown": [
            true,
            {
                "ignorePseudoClasses": ["global"]
            }
        ],
        "selector-class-pattern": null
    }
}
